extends layout

block content
    // Row
    .row
      .col-md-12
        // Miner info
        #minerInfo
            h2= title
            
            table.table.table-bordered.table.hover
                thead
                    th Name
                    th Host
                    th Uptime
                    th ETH&nbsp;Stats
                    th DCR/SIA&nbsp;Stats
                    if hashrates
                        th ETH/ETC&nbsp;HR
                        th DCR/SIA&nbsp;HR
                    th Temp:Fan
                    th Pools
                    th Ver
                    th Comments
                tbody
        p#minerSummary
        p#lastUpdated
        // /Miner info
    // /Wrapper
